* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial, sans-serif;
}

html,
body,
#root,
.App {
	height: 100%;
}

.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
  background: #f0f0f0;
  gap: 20px;
}
.slider-container {
	width: calc(100% - 20px);
	/* display: flex; */
	/* align-items: center; */
	/* justify-content: center; */
	height: 50px;
	background: #ddd;
	border-radius: 5px;
	display: flex;
	/* align-items: center; */
	gap: 10px;
	overflow: hidden;
	padding: 0 10px;
}
.slider {
	display: flex;
	align-items: center;
	gap: 10px;
}
.slider-container.right .slider {
	animation: slide-right 15s linear infinite;
}
.slider-container.left .slider {
	animation: slide-left 15s linear infinite;
}

@keyframes slide-right {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%);
	}
}
@keyframes slide-left {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0%);
	}
}
.slider-item {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease;
	padding: 10px;
	min-width: max-content;
	flex: 1;
}
